#kadmos-error-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: var(--kadmos-bg);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.25s linear,
    visibility 0.25s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.kadmos-error-wrapper--visible {
    visibility: visible;
    opacity: 1;
  }

  #kadmos-error {
    padding: 20px 24px;
    text-align: center;
    background: var(--kadmos-error);
    color: #fff;
    font-size: 16px;
    margin: 20px;
    border-radius: var(--kadmos-radius);
    font-family: var(--kadmos-font);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
}
